*{
    margin: 0;padding: 0;box-sizing: border-box;
    /* border: 2px solid red; */
}
body{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgba(97, 185, 83, 0.784),rgb(22, 24, 22));
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    position: relative;
}
.clock{
    width: 320px;
    height: 320px;
    background-color: #32d2424c;
    border: 9px solid rgba(84, 56, 42, 0.601);
    border-radius: 50%;
    box-shadow: 6px 6px 20px rgb(13, 47, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--angle)));
    inset: 12px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.clock p{
    display: inline-block;
    transform: rotate(calc(-30deg * var(--angle)));
}
.clock::after{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    background: #000;
    content: "";
}
.hands{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hands b{
    position: absolute;
    width: 4px;
    height: var(--h);
    border-radius: 20px;
    background-color: var(--handClr);
}